body{ background-color:
rgb(182,149,192); }

.hola{
	margin:auto;
	margin-top: 3% ;
	background-color: yellow;
	height: 700px;
	width:800px;
	border-radius:50px;
  background: #ffff99;
  color: #333;
  box-shadow: 0px 0px 300px 30px black;
}

.hola1{
	background-image:q.jpeg;
	text-align: center;
}
.spoty{
	margin-bottom:0%;
}
.img{
	margin-top: 0%;
} 
.text{
	color:black;
	margin-top: 60px;
	text-align: center;
	
}
a{ 
	text-align: center;
	font-size: 20px;
	text-shadow: 0px 0px 20px white;
		
}

